<header class="header">
    <div class="container header__container">
      <div class="header__logo">
        <!-- <img
          class="header__img"
          src="https://image.ibb.co/kcVou6/path3000.png"
        /> -->
        <div class="header_img">
          <div class="search__icon"></div>
        </div>

        <h1 class="header__title">
          In a <span class="header__light">Nutshell</span>
        </h1>
      </div>
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="header__menu">
        <nav id="navbar" class="header__nav collapse">
          <ul class="header__elenco">
            <li class="header__el">
              <a href="/templates/home.html" class="header__link">Home</a>
            </li>

            <!-- <li class="header__el header__el--blue">
              <a href="" class="btn btn--white">Sign In →</a>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>
  </header>
