:root {
    --primary: #1f4467;
  }
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* color: white; */


}

input{
    background-color: transparent;
    border: 0;
    /* color: white; */
    padding: 0;
    margin: 0;
    outline: 0;
    height: 100%;
}

button{
    outline: 0;
    border: 0;
    background-color: transparent;
    /* color: white; */
    align-items: center;
}

button:hover{
    background-color:  var(--primary);
    color: white;
}


/* ------------------------------------------------------------------------------------ */
/* SPLASH SCREEN */
/* ------------------------------------------------------------------------------------ */
.splash{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1.5s;
}

.splash-element{
    color: white;   
    font-size: xx-large;
    font-weight: 100;
    
    width: 100%;

    display: flex;
    justify-content: center;

    visibility: hidden;

}

.splash-element > span{
    padding: 0.5rem;
    font-size: 3rem;
}


/* ------------------------------------------------------------------------------------ */
/* MAIN */
/* ------------------------------------------------------------------------------------ */
main{
    background-image: url('https://image.ibb.co/de6JzG/bitmap_1_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    /* justify-content: end; */

}

/* ------------------------------------------------------------------------------------ */
/* NAVBAR */
/* ------------------------------------------------------------------------------------ */
.navbar{
    position: fixed;
    top: 0;
    width: 97%;
    background-color: #1f4467c4;
    border-radius: 0 0 1rem 1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    padding-left: 4rem;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
#in-a{
    color: rgb(149, 149, 149);
}
#nutshell{
    color: rgb(255, 255, 255);
}

.get-summary{
    /* background-color: black; */
    font-weight: 900;
    font-size: 1rem;
    border: 3px lightblue solid;
    color: white;
    font-weight: 100;
    padding: 0.5rem;
    transition: 0.5s;
    border-radius: 5px;
}
.get-summary:hover{
    font-size: 1.1rem;
    background-color: white;
    color: var(--primary);
    border: white;
}
/* ------------------------------------------------------------------------------------ */
/* MAINPAGE CONTAINER */
/* ------------------------------------------------------------------------------------ */


.container{
    padding-top: 7rem;
    flex: 1;
    min-height: 100%;
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 40px; */

}

.row{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;

}
.col{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: 1px var(--primary) solid;
    border-radius: 10px;

}
.heading{

    font-size: 3rem;
    font-weight: 300;
    color: #1f4467;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading2{
    font-size: 2rem;
    text-decoration: underline #1f4467 2px;
}
.subheading{
    font-weight: 100;

}


/* ------------------------------------------------------------------------------------ */
/* Twitter UI */
/* ------------------------------------------------------------------------------------ */
.row li{
    padding: 0.2rem 0.5rem;
    margin-left: 2rem;
    list-style: none;
    font-size: x-large;
    background-color: lightblue;
    box-shadow: 3px 3px 7px rgb(86, 149, 169);
    border-radius: 5px;
    margin-bottom: 2rem;
}
.row li a{
    color: black;
    text-decoration: none;
    
}
.row li:hover{
    background-color: rgb(203, 242, 255);
    box-shadow: 6px 6px 7px rgb(86, 149, 169);
}
ul{
    margin-top: 0;
    padding-top: 0;
}


/* ------------------------------------------------------------------------------------ */
/* Footer CONTAINER */
/* ------------------------------------------------------------------------------------ */
footer{
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    color: white;

    background-color: rgba(47, 47, 86, 0.764)
}
/* ------------------------------------------------------------------------------------ */
/* Loading */
/* ------------------------------------------------------------------------------------ */
.loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.737);
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}
.loader1 {
    /* border: 5px solid #f3f3f3; */
    position: absolute;
    top: 50%;
    bottom: 50%;

    border-top: 5px solid lightblue; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
.loader2 {
    /* border: 5px solid #f3f3f3; */
    position: absolute;
    top: 50%;
    bottom: 50%;
    border-top: 5px solid lightblue; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
.loader3 {
    /* border: 5px solid #f3f3f3; */
    position: absolute;
    top: 50%;
    bottom: 50%;    
    border-top: 5px solid lightblue; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

}

/* ------------------------------------------------------------------------------------ */
/* Grids and Cards */
/* ------------------------------------------------------------------------------------ */

.grid{
    min-height: 100%;
    padding: 5rem;  
    padding-top: 7rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,30%);
    grid-auto-rows: minmax(21rem,auto);
    flex: 1;
    /* grid-auto-columns: 30%; */
}

.card{
    background-color: white;
    border: solid black 2px;
    padding: 0.5rem;
    color: black;
    border-radius: 1.2em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:nth-child(odd){
    background-color: black;
    color: white;
}
.card-img{
    height: 30vh;
    /* width: 100%; */
    object-fit: fill;
    border-bottom: 3px var(--primary)  solid;
    margin-bottom: 1rem;
}
.card-title{
/* padding-left: 1rem; */
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}


.card-footer{
    /* border-top: 3px red solid; */
    /* padding-top: 0.5rem; */
    /* padding-bottom: 0.5rem; */
    display: flex;
    background-color: orange;
    /* justify-content: space-between; */
    overflow: hidden;

    border-radius: 0 0 1em 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
label{

    flex: 1;
    /* padding: 1rem; */
    display: flex;
    /* padding-bottom: auto; */
    /* align-items: center; */

}
.card-footer  input{
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
    cursor: pointer;
}
.checkbox{
    background-color: rgb(106, 175, 255);

    transition: 0.5s;
    flex: 1;
    text-align: center;
    padding: 5%;
    padding-top: 8%;
    padding-bottom: 8%;
}
label input:checked ~ .checkbox{
    outline: 0;
    background-color: lightgreen;
}
.card-link{

    padding: 1rem;
    background-color: #1f4467;
    color: white;
}

/* ------------------------------------------------------------------------------------ */
/* Summary Cards */
/* ------------------------------------------------------------------------------------ */

.summary-card{

    display: flex;
    flex-direction: row;
    /* justify-content: stretch; */
    background-color: rgba(0, 0, 0, 0);

    width: 70%;
    border: #1f4467 1px solid;
    border-radius: 20px;
    overflow: hidden;
    /* padding: 1rem; */
    /* margin-left: 5rem; */
    margin-bottom: 3rem;
    box-shadow: 3px 3px 6px #1f446761 ;
}
/* .container:nth-child(2) > .summary-card:first-child{
    background-color: rgba(0, 0, 0, 0.36);
    background-color: orange;

}
.container:nth-child(2) > .summary-card:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.36);

}
.container:nth-child(even) > .summary-card:nth-child(even)  {
    background-color: rgba(255, 255, 255, 0.721);
    color: black;
} */

.summary-image{
    background-color: lightcyan;
    width: 35%;
    border-right: 1px black solid;
}
.summary-info{
    padding: 2rem;
    flex: 1;
}
.summary-title{

    /* background-color: magenta; */

}
.summary-text{
    /* background-color: lightblue; */
    color: rgb(71, 71, 71);

}

#upload-sec{
    background-color: #636d95;
    color: white;
    border: 0;
}
#upload-sec:hover{

    background-color: #6c78ab;
}
#upload-submit{
    background-color: lightblue;
    transition: 0.5s;
}
#upload-submit:hover{
    background-color: #6c78ab;
    transition: 0.5s;
}
#upload-submit:disabled{
    background-color: transparent;
    cursor: no-drop;
}
#upload-submit:disabled:hover{
    color: #6c78ab ;
}
