<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>In A Nutshell </title>
    <style>
      #pulse-wrapper { 
        visibility: hidden;
      } 
    </style>
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/app.js') }}"
  ></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/loading.css') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}" />

  </head>
  <body >



    <div class="loaded">
    <form class="grid" action = "/summarize" method="POST" >
      <button type="submit" class="card__btn" id="submit" onclick="load()" class="loaded">Get Summary</button>
        {% for i in range(reslength) %}
      <div class="grid__item" class="loaded">
        <div class="card">
          <img
            class="card__img"
            src= {{res[i].image}}
            alt="Snowy Mountains"
          />
          <div class="card__content" class="loaded">
            <div class="card__header">{{ res[i].title }}</div>
            <div class="card__text">
              
              <div class="form-group" class="loaded">
                <input type="checkbox"  id={{res[i].url}} name = "my_checkbox" value = {{i}}>
                <label for={{res[i].url}}><button class="card__btn"><a href={{ res[i].url }}>Explore</a> <span>&rarr;</span></button></label>
              </div>           

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </form>
  </div>
  

  <!-- Loading Utility -->
    {% include 'partials/loading.html' %}

    <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/loading.js') }}"
  ></script>

  </body>
</html>