<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Show cards</title>
  </head>
  <body>
    <main>
      
      <form action="/summarize" method="post" style="flex: 1;">
        <nav class="navbar">
          <a class="logo" href="/">
            <span id="in-a">In A</span>
            <span id="nutshell">Nutshell</span>
          </a>

          <button type="submit" class="get-summary" onclick="load()">Get Summary</button>
        </nav>

        <div class="container grid">

        {% for i in range(reslength) %}
          <div class="card">
            <img class="card-img" src= {{res[i].image}} />
            <h3 class="card-title">
                {{ res[i].title }}
            </h3>
            <div class="card-footer">
              <label for={{res[i].url}} class="">
                <input type="checkbox" id={{res[i].url}} value = {{i}} name = "my_checkbox"></input>
                <span class="checkbox">summary  </span>
              </label>

              <a class="card-link" href={{res[i].url}}>visit orignal article</a>
            </div>
          </div>
          {% endfor %}



        </div>
      </form>
      <footer>
        <div class="col">Made with &hearts; in India</div>
        <div class="col" style="flex-direction: row; justify-self: flex-end">
          follow
        </div>
      </footer>


    </main>

    <div class="loading">

      <div class="loader1"></div>
      <div class="loader2"></div>
      <div class="loader3"></div>
    </div>  
    <script src="../static/js/script.js"></script>
  </body>
</html>
