<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style2.css" />
    <title>In A Nutshell </title>
    <style>
      #pulse-wrapper {
        visibility: hidden;
      } 
    </style>
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/app.js') }}"
  ></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    rel="stylesheet"
  />
  <title>In A Nutshell</title>

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/loading2.css') }}"
  />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/loading.js') }}"
  ></script>
  </head>
  <body >
    <div class="loaded">
    <form class="grid" action = "/summarize" method="POST" >
      <button type="submit" class="card__btn" id="submit" onclick="load()" class="loaded">Get Summary</button>
        {% for i in range(reslength) %}
      <div class="grid__item" class="loaded">
        <div class="card">
          <img
            class="card__img"
            src= {{res[i].image}}
            alt="Snowy Mountains"
          />
          <div class="card__content" class="loaded">
            <div class="card__header">{{ res[i].title }}</div>
            <div class="card__text">
              
              <div class="form-group" class="loaded">
                <input type="checkbox" id={{res[i].url}} name = "my_checkbox" value = {{i}}>
                <label for={{res[i].url}}><button class="card__btn"><a href={{ res[i].url }}>Explore</a> <span>&rarr;</span></button></label>
              </div>           

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </form>
  </div>
    <div id="pulse-wrapper">
      <div id="pulse">
        <span></span>
        <!-- Wave 1 -->
        <span></span>
        <!-- Wave 2 -->
      </div>
    </div>

    <script>
      function load() {
        console.log("load");
        console.log(new Date().getTime());
        // console.log(document.querySelector(".loaded"));
        document.querySelector(".loaded").style.visibility = "hidden";
        setTimeout(() => {
          console.log(new Date().getTime());
          document.querySelector("#pulse-wrapper").style.visibility = "visible";
        }, 500);
      }
    </script>
  </body>
</html>
