<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Title & Icon -->
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="https://www.clipartmax.com/png/middle/272-2725528_walnut-nutshell-icons-set-stock-illustration-nutshell-icon.png"
  />
  <meta name="theme-color" content="#1885ed" />
  <title>In a Nutshell</title>

  <!-- Bootstrap -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  />

  <!-- Includes -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/home.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />

  <!-- Loading Style -->
  <style>
    #pulse-wrapper {
      visibility: hidden;
    }
  </style>

  <!-- Loading Scripts -->
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/app.js') }}"
  ></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/loading.css') }}"
  />
</head>

<body>
  <!-- Loading Utility -->
  {% include 'partials/loading.html' %}
  
  
  <div class="loaded">
    
    {% include 'partials/header.html' %}
    
    <div class="sect sect--padding-top">
      <div class="container">

        <div class="col-md-12" style="margin-bottom: 5em">
          <h1 class="site__title">
            Fast paced way to get information highlights
          </h1>
        </div>

        <div class="row">

          <!-- PART 1 -->
          <div class="col-md-6">
            <div class="site">
              <h2 class="site__subtitle">Search Here & Get Summary</h2>
              <div class="site__box-link">
                <form class="search" method="post" action="/showArticles">
                  <input
                    type="checkbox"
                    id="toggleSearch"
                    class="search__toggle"
                    hidden
                  />
                  <div class="search__field">
                    <label
                      for="toggleSearch"
                      class="search__label"
                      class="loaded"
                    >
                      <span class="search__close"></span>
                    </label>
                    <input
                      type="text"
                      class="search__input"
                      placeholder="What are you looking for?"
                      name="keyword"
                      autocomplete="off"
                      class="loaded"
                    />
                    <label
                      for="toggleSearch"
                      class="search__label"
                      class="loaded"
                    >
                      <div class="search__button" class="loaded">
                        <div class="search__icon search__button--toggle"></div>
                      </div>
                      <button
                        class="search__button search__button--submit"
                        onclick="load()"
                        class="loaded"
                      >
                        <div class="search__icon"></div>
                      </button>
                    </label>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- PART 2 -->
          <div class="col-md-6">
            <div class="site">
              <h2 class="site__subtitle">
                Upload your text file here to get the summary
              </h2>
              <div class="site__box-link">
                <form
                  action="/offline"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="btn btn--width">
                    <input
                      style="opacity: 0; height: 0; width: 0%"
                      type="file"
                      name="file"
                      id="upload"
                    />
                    <label for="upload">Upload</label>
                  </div>
                  <button
                    type="submit"
                    class="btn btn--revert btn--width loaded"
                    onclick="load()"
                  >
                    Get Summary
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'partials/footer.html' %}

  </div>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/loading.js') }}"
  ></script>
</body>
