<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
      #pulse-wrapper {
        visibility: hidden;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>In A Nutshell</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/loading.css') }}"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/loading.js') }}"
    ></script>
  </head>
  <body class="loaded">
    <form class="search" method="post" action="/ip" onsubmit="load()">
      <input type="checkbox" id="toggleSearch" class="search__toggle" hidden />
      <div class="search__field">
        <label for="toggleSearch" class="search__label" class="loaded">
          <span class="search__close"></span>
        </label>
        <input
          type="text"
          class="search__input"
          placeholder="What are you looking for?"
          name="keyword"
          autocomplete="off"
          class="loaded"
        />
        <!-- <p><input type="submit" value="submit" /></p> -->
        <label for="toggleSearch" class="search__label" class="loaded">
          <div class="search__button" class="loaded">
            <div class="search__icon search__button--toggle"></div>
          </div>
          <button class="search__button search__button--submit" class="loaded">
            <div class="search__icon"></div>
          </button>
        </label>
      </div>
    </form>

    <div id="pulse-wrapper">
      <div id="pulse">
        <span></span>
        <!-- Wave 1 -->
        <span></span>
        <!-- Wave 2 -->
      </div>
    </div>

    <script>
      function load() {
        console.log("load");
        console.log(new Date().getTime());
        document.querySelector(".loaded").style.visibility = "hidden";
        setTimeout(() => {
          console.log(new Date().getTime());
          document.querySelector("#pulse-wrapper").style.visibility = "visible";
        }, 1000);
      }
    </script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/loading.js') }}"
    ></script>
  </body>
</html>
