<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title & Icon -->
    <meta name="theme-color" content="#1885ed" />
    <title>In a Nutshell</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

    
    <main>
        
        <!-- Navbar -->
        <nav class="navbar">
            <a class="logo" href="/">
                <span id="in-a">In A</span>
                <span id="nutshell">Nutshell</span>
            </a>
        </nav>
        
        <div class="container">  

            <!-- Container Heading -->
            <h1 class="row heading">Fast paced way to get information highlights.</h1> 

            <div class="row">


                <div class="col">
                    <h1 class="subheading row">
                    Search here & get summary
                    </h1>
                    <form class="row" name="searchForm" method="post" action="/showArticles" onsubmit="return validateForm1()">

                        <div class="col" style="flex: 1;" id = "searchInput">
                            <input type="text" name="keyword" placeholder="What are you looking for ..."></input>
                        </div>
                        <button class="col" style="justify-self: flex-end;" onclick="load()">
                            <img src="../static/assets/search-icon.svg" style="width: 20px; height: 20px;">
                                
                        </img>
                        </button>
                    </form>
                </div>
                    
                <div class="col">
                    <h1 class="subheading row">
                        Upload your text file here to get summary
                    </h1>
                    <form class="row" action="/offline" method="post" enctype="multipart/form-data" name="uploadForm">
                        <div class="col" id="upload-sec">
                            <input
                      style="opacity: 0; height: 0; width: 0%"
                      type="file"
                      name="file[]"
                      id="upload"
                      accept=".txt , .docx"
                      multiple
                    />
                    <label for="upload" id="upload-label">Upload</label>
                        </div>
                        <button class="col" style="flex: 1;" onclick="load()" id="upload-submit" disabled>Get Summary</button>
                    </form>               
                </div>
            </div> 

            <!-- <div class="row">
                <h2 class="heading heading2">
                    Top Twitter Trends
                </h2>
            </div>
            <ul class="row">

                {% for trend in trends %}
                <li><a href={{trend.url}}>{{trend.text}}</a> </li>
                {% endfor %}
            </ul> -->


        </div>
    
        <footer >
                <div class="col">Made with &hearts; in India</div>
                <div class="col" style="flex-direction: row;justify-self: flex-end;">
                    follow
                </div>
        </footer>
        
    </main>

    <!-- SPLASH SCREEN -->
<div class="splash">
    <div class="splash-element">
            <span>I</span>
            <span>n</span>
            &nbsp;
            <span>a </span>
            &nbsp;
            <span>N</span>
            <span>u</span>
            <span>t</span>
            <span>s</span>
            <span>h</span>
            <span>e</span>
            <span>l</span>
            <span>l</span>
        </span>
    </div>
</div>
<!-- SPLASH SCREEN END -->

<div class="loading">

<div class="loader1"></div>
<div class="loader2"></div>
<div class="loader3"></div>
</div>

<script src="../static/js/script.js"></script>
<script>
    // Uncomment 1 line below for splash screen
    // splash()
    // Uncomment 1 line below for no splash screen
    document.getElementsByClassName("splash")[0].style.display = "none";
</script>
    
</body>
</html>