<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/summarytemp.css" />
    <title>Summary</title>
  </head>
  <body>
    <div class="container">
      <h2>Summary : </h2>
    {% for i in range(reslength) %}
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="card">
            <img src="{{resl[i].image}}" alt="ABCD" class="card-img-top"/>
            <div class="card-body">
              <h5 class="card-title">
                {{resl[i].title}}
              </h5>
            </div>
            <div class="card-text">{{resl[i].summary}}</div>
            <a class="card-link btn btn-info" href="{{resl[i].url}}">Full Article</a>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <br>
      <br>
      {% endfor %}
    </div>


  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
